*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.header{
    text-align: center;
}
.book-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-gap: 50px;
    padding: 20px;
}

.book-card{
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.overlay{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(68, 69, 69, 0.351);
}
.hidden{
    display: none;
}
.book-form{
    position:fixed;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    margin-top:5vh;
    top:0;
    min-width:350px;
    width: 40vw;
    height: 90%;
    background-color: white;
    border-radius: 10px;
}

.book-form form{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.book-form form input{
    width: 150px;
}
.book-form form input[type='number']{
    width: 50px;
}
.btn{
    width: 120px;
    align-self: center;
    border:none;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px;
}
.delete-btn{
    background-color: red;
    color: white;
}